* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.background-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.heading {
  font-size: 35px;
  font-weight: bold;
  font-family: "Roboto";
  color: #0f172a;
  margin-bottom: 38px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 60px;
  }
}

.notification-list-container {
  display: flex;
  flex-direction: column;
  width: 85px;
  min-width: 550px;
}

@media screen and (min-width: 768px) {
  .notification-list-container {
    width: 65%;
  }
}

.notification-container {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 16px;
  padding-right: 10px;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .notification-container {
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 23px;
    padding-right: 12px;
  }
}

.primary-bg-color {
  background-color: #0b69ff;
}

.success-bg-color {
  background-color: #2dca73;
}

.warning-bg-color {
  background-color: #ffb800;
}
.danger-bg-color {
  background-color: #ff0b37;
}

.icon {
  height: 24px;
  width: 24px;
  margin-right: 16px;
}

.message {
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 500;
}
